# ignore all vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ignore all .exe
*.exe

# ignore all .txt
*.txt

# ignore some visual studio stuff
*.vs
x64/
